{% extends "base.html" %}

{% block content %}
<h1>Бронирование</h1>

<div class="form-card">
    <h2>Бронирование {{ room_name }}</h2>
    <form method="POST" action="/book">
        <input type="hidden" name="room_id" value="{{ room_id }}">
        
        <label>Кто бронирует:</label>
        <input type="text" name="booked_by" required>

        <label>Цель:</label>
        <select name="purpose" required>
            <option value="пары">пары</option>
            <option value="экзамен">экзамен</option>
            <option value="зачет">зачет</option>
            <option value="мероприятие">мероприятие</option>
        </select>

        <label>С даты:</label>
        <input type="date" name="start_date" required>

        <label>По дату:</label>
        <input type="date" name="end_date" required>

        <button type="submit">Забронировать</button>
    </form>
</div>
{% endblock %}